* {
  margin: 0;
  padding: 0;
}

:root {
  --width: 50%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 60%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  background-size: auto;
  background-repeat: repeat;
  background-image: url('images/background.png');
  position: absolute;
}

.arrow {
  translate: -50% 0;
  background-image: none;
  left: var(--width);
}

#original {
  clip-path: polygon(0% 0%, var(--width) 0%, var(--width) 100%, 0% 100%);
}
